<div class="mb-4">
    <img id="qa-image" src="{{ image_url }}" alt="Rendered PDF Page"
         class="img-fluid mb-3 border border-dark rounded">
  
    <h5>Question</h5>
    <textarea name="correctedQuestion" class="form-control" rows="2"
              form="correctionForm">{{ question }}</textarea>
  
    <h5>Answer</h5>
    <textarea name="correctedAnswer" class="form-control" rows="4"
              form="correctionForm">{{ answer }}</textarea>
  
    <div class="d-flex justify-content-center mt-4">
      <form id="correctionForm" hx-post="/evaluate" hx-target="#qa-container" hx-swap="innerHTML">
        <input type="hidden" name="index" value="{{ index }}">
        <input type="hidden" name="evaluation" value="corrected">
     <button type="submit" class="btn btn-success me-3">The question-answer pair is now appropriate</button>
      </form>
  
     <!-- With the 'Back' button, the user returns to the same question-answer pair, presented in read-only mode. -->
      <form hx-get="/display_qa" hx-target="#qa-container" hx-swap="innerHTML">
        <input type="hidden" name="index" value="{{ index }}">
     <button type="submit" class="btn btn-secondary">Back</button>
      </form>
    </div>
  </div>
  